body {
    background-color: #f5f5f5;
    height: 100vh;
    margin: 0;
    padding-top: 60px; /* чтобы контент не перекрывался фиксированным блоком */
}

.container-fluid form {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center; /* горизонтально */
    align-items: center; /* вертикально внутри блока */
    background-color: #ffffff;
    padding: 10px;
    z-index: 1000;
    opacity: 0.8;
}

.main_video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.video-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    background-color: #f9f9f9;
    width: 90%; /* почти вся ширина окна */
    max-width: 1200px;
    margin: 0 auto; /* центрируем по горизонтали */
    height: auto; /* высота под контент */
}

.video-card video {
    width: 125vh; /* растягиваем под ширину карточки */
    height: 90vh; /* половина высоты экрана */
    object-fit: cover; /* видео красиво вписывается, не искажаясь */
    align-self: center;
}

.video-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h3 {
    color: #333333;
}

h5 {
    color: #555555;
}

.user-button {
    border: 2px solid #4CAF50;
    border-radius: 50%;
    background: none;
    padding: 0;
    cursor: pointer;
    margin: 0px 0px 0px 10%;
}

.user-button img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.form-control.me-2 {
    width: 60%;
    border: 2px solid rgb(155, 141, 141);
}

.btn-outline-success {
    font-family: 'Montserrat', sans-serif; /* современный шрифт */
    font-weight: 500;
    font-size: 16px;
    color: #4CAF50; /* зелёный текст */
    border: 2px solid #4CAF50;
    border-radius: 8px; /* слегка закруглённые углы */
    background-color: transparent;
    padding: 6px 16px;
    transition: all 0.3s ease; /* плавное наведение */
    cursor: pointer;
}
@media (max-width: 1200px) {
    .video-card video {
    width: 100%; /* растягиваем под ширину карточки */
    height: 50vh; /* половина высоты экрана */
    }
}
@media ( max-width: 700px) {
    .video-card video {
    width: 100%; /* растягиваем под ширину карточки */
    height: 30vh; /* половина высоты экрана */
}
}