body {
    background-color: #f5f5f5;
    margin: 0;
    padding-top: 60px;
}

.container-fluid form {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    z-index: 1000;
    opacity: 0.8;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.video-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;

    width: 330px;      /* нормальный размер карточки */
    height: auto;      /* а не 100vh */
}

.video-card video {
     width: 100%;
    height: 180px;  /* фиксируем высоту */
    object-fit: cover; /* обрезаем лишнее, но все видео будут одинаковой высоты */
}
.video-card video:hover {
     filter: brightness(90%);
}
.video-description {
    display: flex;
    flex-direction: column;
}

h3 {
    color: #333333;
}

h5 {
    color: #555555;
}

.user-button {
    border: 2px solid #4CAF50;
    border-radius: 50%;
    background: none;
    padding: 0;
    cursor: pointer;
    margin-left: 10%;
}

.user-button img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.form-control.me-2 {
    width: 60%;
    border: 2px solid rgb(155, 141, 141);
}

.btn-outline-success {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    background-color: transparent;
    padding: 6px 16px;
    transition: all 0.3s ease;
    cursor: pointer;
}
